@model DTO.ContentDTO

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ContentDTO</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Date, "Enter the date")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Date)
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Client.Name, "Enter the name of Client")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Client.Name)
            @Html.ValidationMessageFor(model => model.Client.Name)
        </div>
        

        <div class="editor-label">
            @Html.LabelFor(model => model.Item.Name, "Enter the name of item")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Item.Name)
            @Html.ValidationMessageFor(model => model.Item.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Price, "Enter the price")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Price)
            @Html.ValidationMessageFor(model => model.Price)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
